<h1> <%= @user.email %>'s favourite books </h1>
<% @favourites.each do |favourites| %>
  <h2> <%= favourites.book.title %> </h2>
  <h3> By <%= favourites.book.author.name %> </h3>
  <h4> <%= link_to "View More..", favourites.book %> </h4>
  <br>
  <% end %>
