// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: $blue;
  @include center-content();
}

.book-pic {
  display:block;
    margin:auto;
}

.container {
  @include center-content();
}
